@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font;
  src: url("../public/font/SebneueRegular-eAGm.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}